p.hometown {
    font-size: 35px;
    color: green;
}

h4 {
    background-color:blue;
}

h1 {
    color: maroon;
    margin-left: 20px;
}

#para1{
    color: yellow;
    text-align: center;
}

#geeks {
    font-size: 25px;
    color: skyblue;
}

